<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DATAS</h1>
    <h1>Name:{{name}}</h1><br>
    <h1>age:{{age}</h1><br>
    <h1>number :{{number}}</h1><br>
    <h1>email:{{email}}</h1><br>
    <h1>address :{{address}}</h1><br>
    <h1>gender :{{gender}}</h1>
    <h1>language :{{language}}</h1>
</body>
</html>